html {
	font-size: 62.5%;
	background-size: cover;
	font-family: sans-serif;
	text-align: center;
	background: #018ded url(louie-martinez-470438-unsplash.jpg);
}
body {
	font-size: 2rem;
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
}

.clock {
	width: 30rem;
	height: 30rem;
	border: 20px solid #fff;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
	padding: 2rem;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}
.clock-face {
	/* width: 30rem;
	height: 30rem; */
	/* border: 1rem solid cornflowerblue;
	border-radius: 50%; */
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px); /*account for the height of the clock hands */
}
.hand {
	width: 50%;
	height: 6px;
	position: absolute;
	top: 50%;
	background: #000;
	border-bottom: 3px solid #000;
	transform-origin: 100%; /*center point will be at the very end*/
	transform: rotate(90deg);
	transition: all 0.05s; /*needle movement smoothness*/
	transition-timing-funtion: cubic-bezier(0.1, 2.7, 0.58, 1);
	/* transition-timing-function: ease-in; */
	border-radius: 5px;
}
